<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>


    <!--Node modules -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/node_modules/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="/node_modules/angular-password/angular-password.js"></script>
    <script type="text/javascript" src="/views/controllers/validationRegister.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script type="text/javascript" src="/views/jq.js"></script>

    <!--css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>